---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"posts">;
};

const { summary_length } = config.settings;
const { post } = Astro.props;
---

<div class="grid md:grid-cols-2 gap-6 mb-12 border-b border-border pb-[30px]">
  {
    post.data.image && (
      <a
        href={`/posts/${post.id}`}
      >
        <Image
          class="rounded-sm"
          src={post.data.image}
          alt={post.data.title}
          width={445}
          height={230}
          format="webp"
        />
      </a>
    )
  }
  <div>
    <h3 class="h4 mt-2">
      <a
        href={`/posts/${post.id}`}
        class="block font-normal text-primary hover:underline"
      >
        {post.data.title}
      </a>
    </h3>
    <ul class="mb-4 mt-1.5 flex flex-wrap items-center space-x-3 text-text-light text-sm">
      <li>{dateFormat(post.data.date!)}</li>
      <li>
        <ul>
          {
            post.data.categories.map((category) => (
              <li class="inline-block">
                <a
                  href={`/categories/${slugify(category)}`}
                  class="mr-3 hover:text-primary hover:underline"
                >
                  {humanize(category)}
                </a>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
    {
      post.body && (
        <p class="text-text">
          {plainify(post.body?.slice(0, Number(summary_length)))}&hellip;
        </p>
      )
    }
    <a
      class="mt-3 inline-block border-b border-primary py-1 text-[15px] leading-[22px] text-primary"
      href={`/posts/${post.id}`}>Read More</a
    >
  </div>
</div>
